// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
}

@font-face {
  src: url('OpenSans-Light.ttf');
  font-family: 'open-sans';
}

nav {
  position: fixed;
  bottom: 25px;
  right: 35px;
  width: 12%;
  text-align: right;

  .about-box {
    position: absolute;
    z-index: 10;
    background-color: white;
    top: -70px;
    width: 130%;
    right: -200%;
    transition: all 0.2s ease-in-out;
  }

  a {
    font-family: $font;
    font-size: 16px;
    text-decoration: none;
    font-style: italic;
    color: $col-med-gray;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $col-very-dark-gray;
    }
  }
}

header {
  border-bottom: 2px dashed $col-light-gray;
  padding-bottom: 36px;

  h1 a {
    font-famly: $font;
    font-size: 48px;
    letter-spacing: 8px;
    font-weight: 300;
    text-decoration: none;
    color: $col-dark-gray;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: black;
    }
  }
}




